<!-- Global site tag (gtag.js) - Google Analytics -->

<script>{% include scripts/load-js.min.js %}{% include scripts/loadCSS.min.js %}{% include scripts/cssrelpreload.min.js %}!function(w) {
  w._baseURL = '{{    "/"           | relative_url }}';
  w._publicPath = '{{ "/assets/js/" | relative_url }}';
  w._noPushState = {{ site.hydejack.no_push_state | default:site.disable_push_state | default:false }};
  w._noDrawer = {{    site.hydejack.no_drawer     | default:site.disable_drawer     | default:false }};
  w._noNavbar = {{    site.hydejack.no_navbar     | default:false }};
  w._noToc = {{       site.hydejack.no_toc        | default:false }};
  w._noSearch = {{    site.hydejack.no_search     | default:false }};
  w._advertise = {% if site.hydejack.advertise %}true{% else %}false{% endif %};
  w._search = {
    DATA_URL: '{{ "/assets/sitedata.json?no-cache" | relative_url }}',
    STORAGE_KEY: 'mini-search{{ "/" | relative_url }}',
    INDEX_KEY: 'index--{{ site.time | date_to_xmlschema }}',
  };
}(window);</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.cells.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    VANTA.CELLS({
      el: ".sidebar-bg",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      color1: 0x5abf83,
      color2: 0x5abf83,
    })
  })
</script>
{% assign text = site.tagline | default:site.description %}
{% if text %}
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const sidebarDescription = "{{ text | markdownify | replace:'<p>','' | replace:'</p>','' | strip_newlines}}";
      new Typewriter('.sidebar-sticky .sidebar-about p', {
        strings: [sidebarDescription],
        autoStart: true,
        loop: true,
      });
    })
  </script>
{% endif %}
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

{% if site.kramdown.math_engine == 'mathjax' %}
<script async src="{{ 'assets/bower_components/MathJax/es5/tex-mml-chtml.js' | relative_url }}" id="_MathJax"></script>
{% endif %}