<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":" }}</span>
<ul>
  {% assign nodes = site.html_pages | concat: site.documents | where: "sidebar", true | sort: "order" %}
  {% assign tag_nodes = nodes | where: "type", "tag" %}
  {% for node in nodes %}
    {% unless node.redirect_to %}
      {% if node.type != "tag" %}
        {% assign subnodes = tag_nodes | where_exp: "item", "item.category == node.slug" %}
        {% assign count = count | plus: 1 %}
        <li>
          <a  href="{{ node.url | relative_url }}" class="sidebar-nav-item">{{ node.title }}</a>
        </li>
      {% endif %}
    {% else %}
      <li>
        <a href="{{ node.redirect_to }}" class="sidebar-nav-item">{{ node.title }}</a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
